*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}
header{
    background-image: url("../image/header_backgroundimage.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 600px;
    position: fixed;
    top: 0px;
}
nav{
    display:grid;
    grid-template-columns:  auto auto;
    justify-content: space-between;
    height :100px;
    width:100%;
}
nav .logo a{
    text-decoration: none;
    padding: auto;
    color:white;
}
.logo{
    display: inline-block;
    color:white;
}
.logo li{
    display:inline-block;
    list-style-type: none;
}
section{
    position: relative;
    top :100px
}
main {
    position: relative;
    top: 50px;
}

