
.grid-container {
    border: 10px solid rgb(68, 101, 212);
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.grid-item {
    background-color:rgba(158, 216, 243, 0.8);
    border:1px solid black;
    padding:20px;
    font-size:30px;
    text-align: center;
}

.test {
    display:grid;
    grid-template-columns: auto auto auto;
}