.header {
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0px;
    z-index: 1;
}

.header__columns {
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.header__search {
    margin-left: auto;
}

.header__add {
    margin: 0 10px;
}

.header__settings {
    margin: 0 10px 0 0;
}

